body {
    background-image: url('../../../pics/secret/behindbars.png');
  }

h1, h2{
    font-family: 'Yu Gothic Light';
    color: aliceblue;
}

p {
  font-style: italic;
}

#break{
    position: absolute;
    right: -100px;
    bottom: 0;
}

#dip{
    position: absolute;
    right: -25px;
    bottom: 0;
}

img{
  position: absolute;
  right: -25px;
  bottom: 9%;
}

h3{
  position: absolute;
  right: -25px;
  bottom: 0;
  font-family: 'Yu Gothic Light';
  color: aliceblue;
}

